*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    height: 100vh;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-repeat: no-repeat;
    object-fit:fill;
    background-size: cover;
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("birth.jpg");
}
.content .today{
    background-color: pink;
    padding: 20px;
    width: 350px;
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    border-radius: 50px;
    box-shadow:10px 12px 10px 20px pink;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.content .upcomming{
    background-color: rgb(98, 221, 147);
    padding: 20px;
    margin: 20px;
    box-shadow:10px 12px 10px 20px rgb(98, 221, 147);
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
 h1{
    font-family: cursive;
    opacity: 0.5
    ;
}
span{
    font-size: 20px;
}